<%= form_for([:admin, @pick]) do |f| %>

<% if @pick.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@pick.errors.count, "error") %> prohibited this pick from being saved:</h2>
    <ul>
      <% @pick.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<fieldset class='form-horizontal'>
  <div class='form-group'>
    <label class='control-label col-sm-2' for="pick_title">Title</label>
    <div class='col-sm-5'>
      <%= f.text_field :title, class: 'form-control' %>
    </div>
  </div>
  <div class='form-group'>
    <label class='control-label col-sm-2' for="pick_author">Author</label>
    <div class='col-sm-5'>
      <%= f.text_field :author, class: 'form-control' %>
    </div>
  </div>
  <div class='form-group'>
    <label class='control-label col-sm-2' for="pick_description">Description</label>
    <div class='col-sm-5'>
      <%= f.text_area :description, { class: 'form-control', style: 'height:150px;resize:none;' } %>
    </div>
  </div>
  <div class='form-group'>
    <label class='control-label col-sm-2' for="active">Pick Active?</label>


    <div class='col-sm-5'>
        <%= f.radio_button :active, 1, { checked: @pick.active, style: "margin-top:10px;" } %> Active
        <%= f.radio_button :active, 0, { checked: !@pick.active, style: "margin-left:10px;margin-top:10px;" } %> Inactive
    </div>
  </div>

  <div class='form-group'>
    <label class='control-label col-sm-2' for="pick_picktype">Type</label>
    <div class='col-sm-5'>
      <%= f.select :picktype, ['book', 'music', 'movie'], { include_blank: false }, class: 'form-control' %>
    </div>
  </div>
  <div class='form-group'>
    <label class='control-label col-sm-2' for="pick_link">Short Amazon Link</label>
    <div class='col-sm-5'>
      <%= f.text_field :link, class: 'form-control' %>
    </div>
  </div>
  <div class='form-group'>
    <label class='control-label col-sm-2' for="pick_link">Full Amazon Link</label>
    <div class='col-sm-5'>
      <%= f.text_area :image_link, class: 'form-control' %>
    </div>
  </div>
  <div class='form-group'>
    <label class='control-label col-sm-2' for="pick_link">Score / Rating</label>
    <div class='col-sm-5'>
      <%= f.text_field :score, class: 'form-control' %>
    </div>
  </div>
  <div class='form-group'>
    <label class='control-label col-sm-2' for="pick_link">Length</label>
    <div class='col-sm-5'>
      <%= f.text_field :pick_length, class: 'form-control' %>
    </div>
  </div>
  <div class='form-group'>
    <label class='control-label col-sm-2' for="pick_link">Year Released</label>
    <div class='col-sm-5'>
      <%= f.text_field :year_published, class: 'form-control' %>
    </div>
  </div>
  <div class='form-group'>
    <label class='control-label col-sm-2' for="pick_link">Publisher</label>
    <div class='col-sm-5'>
      <%= f.text_field :publisher, class: 'form-control' %>
    </div>
  </div>
  <div class='form-group'>
    <label class='control-label col-sm-2' for="pick_link">ISBN</label>
    <div class='col-sm-5'>
      <%= f.text_field :isbn, class: 'form-control' %>
    </div>
  </div>
</fieldset>
<div class='form-actions'>
    <hr>
    <div style="width:100%;float:left;text-align:center;">
        <%= link_to(t(".cancel"), {action: 'index'}, {class: 'btn btn-danger', style: 'margin-right:20px;'}) %>
        <%= submit_tag("Save Pick", class: 'btn btn-success') %>
    </div>
</div>

<% end %>